* {
	font-family: Arial;
}

span {
	left-margin: 2px;
}

.container {
	display: flex;
}

.count {
	margin: 0 120px 0 0;
}


.ctn {
	display: flex;
}


body {
	background-color: black;
	color: white;
}

.btn {
	display: inline-block;
	margin: 10px 125px 0 50px;
}

#apple {
	background-image: url("img/apple.png");
	background-size: 200px 200px;
	height: 200px;
	width: 200px;
}

#orange {
	background: url("img/orange.png") top left;
	background-size: 200px 200px;
	height: 200px;
	width: 200px;
}

#banana {
	background-image: url("img/bananas.png");
	background-size: 200px 200px;
	height: 200px;
	width: 200px;
}

#grape {
	background-size: 200px 200px;
	background-image: url("img/pear.png");
	height: 200px;
	width: 200px;
}

 {
	display: inline-block;
}

#a {
	margin-top: 190px;
	margin-left: 55px;
	
	
}

#o {
	margin-top: 190px;
	margin-left: 55px;
	
}

#b {
	margin-top: 190px;
	margin-left: 55px;
	
}

#p {
    margin-top: 190px;
	margin-left: 55px;
	
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 15px;
	
	
}

